body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
     'sans-serif';
    background-image : url("back_ground.png.webp");
    background-size : cover;
    font-family: bold;
    color: white;
    text-align: center;
}
h1{
    color:goldenrod;
}
button{
    color: #016f32;
    width: 150px;
    background:'goldenrod';
    display: block;
    text-align: center;
    
    

}
#message-el{
    font-style: italic;
}